#table-booking-section {
	background-color:white;
	width:100%;
	margin-top:0rem;
	.main-column{grid-gap: 2rem 0;}
	
	.book-container{
		grid-area: 2/1/2/13;
		text-align: left;

		h2 {
			font-size:40pt;
			//font-weight: bold;
			margin:0 0 1rem 0;
		}
	}
	.book-image{
		grid-area: 1/1/1/13;
		figure {
			height:100%;
			min-height:12rem;
			border-radius:16px;
			margin: 0 -1rem 0 -1rem;
			padding: 0;
			background-position: center;
			background-size: cover;
			background-image: url("../images/restaurant.jpg");
		}
	}
	@media only screen and (min-width: 1000px) {
		margin-top:4rem;
		.main-column{grid-gap: 0 2rem;}
		.book-container{ grid-area: 1/1/1/7; }
		.book-image	{ 
			grid-area: 1/7/1/13;
			width:100%; 
			figure {
				border-radius: 16px;
				margin:0;
			}
		}
	}
}
