#highlight-section{
  margin-top:10rem;
  .strap {
    width:100%;
    grid-template-columns: auto auto;
    h1 {
      grid-column: span 2;
      text-align: left;
      margin:0
    }
    div {
      grid-column: span 2; 
      align-self: center;
      justify-self: end;
      width: max-content;
    }
    @media only screen and (min-width: 1000px) {
      h1 {grid-column: span 1}
      div {grid-column: span 1}
    }
  }
  .specials {
    margin-top:3rem;
    grid-gap: 1.8rem;
    padding:0 1.5rem;
    box-sizing: border-box;
    article {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 3fr;
      background: var(--grey);
      border-radius: 16px;
      grid-column: span 12;
      box-sizing: border-box;
      text-align: left;
      overflow: hidden;
      figure{
        grid-area: 1/1/2/2;
        margin:0;
        //height:10rem;
        background-position: center;
        background-size: cover;
      }
      .content{
        grid-area: 2/1/3/2;
        padding: 1.3rem;
        display:grid;
        grid-template-rows:auto auto auto;
        .strap{
          grid-row: span 1;
          display:grid;
          grid-template-columns: auto auto;
          h3 {
            margin: 0;
            grid-column: span 1;
            &.price{
              color:orange;
              justify-self:end;
              &::before{
                content:"$";
                margin-right:0.5rem
              }
            }
          }
        }
        p {
          grid-row: span 1;
          margin-top: 2rem;
        }
        a {
          grid-row: span 1;
          align-self: end;
          display:inline-block;
          margin-top: 2rem;
          color:black;
          text-decoration: none;
          font-weight: bold;
          &::after{
            vertical-align: middle;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../images/Recent.svg");
            display: inline-block;
            content: "";
            width:2rem;
            height:2rem;
            margin-left: 1rem;
          }
        }
      }
    }
    @media only screen and (min-width: 650px) {
      article{
        grid-column: span 6;
      }
    }
    @media only screen and (min-width: 1000px) {
      article{
        grid-column: span 4;
      }
    }
  }
}