#testimonials-section{
	margin-top:6rem;
	h1 {
		text-align: left;
		margin:0;
	}
	.testimonials {
		grid-gap: 1rem;
		margin-top:3rem;
		article{
			grid-column: span 6;
			background: #e6e6e6;
			border-radius: 16px;
			padding:1rem;
			.row {
				display: inline-grid;
				width: min-content;
				img {
					float:left;
					width:4rem;
					height:4rem;
					border-radius: 100px;

				}
				p {
					line-height: 4rem;
					margin:0;
					margin-left: 1rem;
					font-weight: bold;
				}
			}
		}
		@media only screen and (min-width: 650px) {
			article{
				grid-column: span 4;
			}
		}
		@media only screen and (min-width: 1000px) {
			article{
				grid-column: span 3;
			}
		}
	}
}